#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "default, deployer, qbcore, qb-core"

## You MAY edit the following:
sv_licenseKey "XXX" # 実際の値は伏せています。アップロード時はサーバーのライセンスキーを設定してください。 2026/09/06 potato
sv_hostname "MidnightZTown built with QBCore Framework by JericoFx & Kakarot & Hamy!"
sets sv_projectName "[QBCore Framework] MidnightZTown"
sets sv_projectDesc "An advanced FiveM RP framework including jobs, gangs, housing & more!"
sets locale "root-AQ" # replace with your language and location code, like en-US, pt-BR, etc
load_server_icon myLogo.png
sv_enforceGameBuild 3095 #DLC The Chop Shop
set resources_useSystemChat true
set mysql_connection_string "XXX" # 実際の値は伏せています。アップロード時はサーバーのMySQL接続文字列を設定してください。 2026/09/06 potato

# Voice config
setr voice_useNativeAudio true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1
setr voice_useSendingRangeOnly false

# QBCore locale config
setr qb_locale "ja"

# QBCore UseTarget
setr UseTarget false

# ox_inventory config
setr inventory:framework "qb"

setr inventory:dropprops true
setr inventory:dropmodel "prop_rub_binbag_sd_01"
setr inventory:dropweight 1000000
setr inventory:dropmarker {
    "type": 2,
    "colour": [30, 30, 150],
    "scale": [0.3, 0.2, 0.15]
}

# Midnight6 Cusotm OxMysql
ensure oxmysql


# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure qb-core
ensure [ox]
ensure illenium-appearance

ensure [qb]
stop qb-crafting
stop qb-hud
ensure [standalone]
ensure [voice]
ensure [defaultmaps]

# !!! Midnight6 Customs !!!
ensure moneywash
ensure test-police
ensure hh_aidoc
ensure Renewed-Banking
ensure ps-hud
ensure postal-code-map
ensure ao_infohud
ensure vrm-main
ensure ox-crafting-ext
ensure [casino]

# PS Housing - TEST
ensure ps-realtor
ensure ps-housing
ensure fivem-freecam

## Permissions ##
add_ace group.admin command allow # allow all commands
add_principal identifier.fivem:19591425 group.admin #hohetothepotato
add_principal identifier.fivem:19591761 group.admin #chan_ao_chan
add_principal identifier.fivem:19593143 group.admin #tomatomaru

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands
